<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <div class="btnContainer">
    <span class="copyright">&copy;<%= year %> | CSE 341 Team Project </span> 
  <div class="footerBtn">
  
  </div>
</div>
</footer>