<h1>House of World Top Food Recipes</h1>

<div class="hero-img">
    <img src="/images/hero-img1.webp" alt="hero image of recipes">
</div>

<div class="container">
    <div class="card-1">
        <h3>Our Top-5 Recipes</h3>

    </div>
    <div class="card-2">
        <h3>Top-5 Recipes Creators</h3>

    </div>
    <div class="card-3">
        <h3>Our Famous Products</h3>

    </div>

</div>